<header>
<div class="container">
        {% if user.is_authenticated %}
        <div class="alert alert-success text-center mt-5 mb-5">
            <h3>Welcome {{ user.username }}!</h3>
            <form action="{% url 'account:logoutuser' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Exit</button>
            </form>
        </div>
    {% else %}
        <h1 class="text-center alert alert-success mt-5 mb-5">Create your todolist</h1>
    {% endif %}
</div>
</header>