<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'maketodo:home' %}">Home</a>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
            <ul class="navbar-nav d-flex">
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'maketodo:currenttodo' %}">Todolist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'maketodo:completetodos' %}">Сompleted cases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'maketodo:createtodo' %}">Create</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'account:signupuser' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'account:loginuser' %}">Login</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>