{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
                <div class="container text-center">
            <h1>Welcome {{ user.username }}</h1>
                <h2>You are already logged in</h2>
        </div>

    {% else %}
            <div class="container">
        <h1>Sign in</h1>
        <div class="text_error">
            <h3 class="badge bg-danger">{{ error }}</h3>
        </div>
        <form method="post" class="py-3">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nameUser" name="username">
                <label for="nameUser">Name user</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="passwordUser" name="password">
                <label for="passwordUser">Password</label>
            </div>
            <button type="submit" class="btn btn-info btn-lg">To come in</button>
        </form>
    </div>
    {% endif %}

{% endblock %}