{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container text-center">
            <h1>Welcome {{ user.username }}</h1>
                <h2>You are already registered</h2>
        </div>

        {% else %}
              <div class="container">
        <h1>Registration</h1>
        <div class="text_error">
            <h3 class="badge bg-danger">{{ error }}</h3>
        </div>
        <form method="post" class="py-3">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="username">
                <label for="floatingInput">Name user</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="id_password1" name="password1">
                <label for="id_password1">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="id_password2" name="password2">
                <label for="id_password2">Password confirm</label>
            </div>
            <button type="submit" class="btn btn-info mt-3 btn-lg">Register</button>
        </form>
    </div>
    {% endif %}
{% endblock %}