{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if todos %}
            <h1 class="text-center mb-3">Мои заметки</h1>
        {% else %}
            <h1 class="text-center mb-3">Заметок нет</h1>
        {% endif %}

        {% for todo in todos %}
            {% if todo.important %}
                <h3 class="alert alert-danger">&#9873; {{ todo.title }} &#9866; &#10004; {{ todo.content }}</h3>
                <a href="{% url 'viewtodo' todo.id %}">Посмотреть заметку</a>
            {% else %}
                <h3>{{ todo.title }}</h3> <a href="{% url 'viewtodo' todo.id %}">Посмотреть заметку</a>
            {% endif %}
            <hr>
        {% endfor %}

    </div>
{% endblock content %}