{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Войти в кабинет</h1>
        <div class="text_error">
            <h3 class="badge bg-danger">{{ error }}</h3>
        </div>
        <form method="post" class="py-3">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="username">
                <label for="floatingInput">Имя пользователя</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" name="password">
                <label for="floatingPassword">Ваш пароль</label>
            </div>
            <button type="submit" class="btn btn-info btn-lg">Войти</button>
        </form>
    </div>
{% endblock content %}