{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Регистрация</h1>
        <div class="text_error">
            <h3 class="badge bg-danger">{{ error }}</h3>
        </div>
        <form method="post" class="py-3">
            {% csrf_token %}

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="username">
                <label for="floatingInput">Имя пользователя</label>
                <span class="helptext badge bg-warning text-dark mt-3">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.</span>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="id_password1" name="password1">
                <label for="id_password1">Ваш пароль</label>
                  <span class="helptext badge bg-warning text-dark mt-3">
                                Введите надёжный пароль не менее 8 символов
                            </span>
            </div>
                        <div class="form-floating mb-3">
                <input type="password" class="form-control" id="id_password2" name="password2">
                <label for="id_password2">Ещё раз пароль</label>
                            <span class="helptext badge bg-warning text-dark mt-3">
                                Для подтверждения введите, пожалуйста, пароль ещё раз.
                            </span>
            </div>
            <button type="submit" class="btn btn-info mt-3 btn-lg">Зарегистрировать</button>
        </form>
    </div>
{% endblock content %}